
    
 
body{
    background-image: url("https://picsum.photos/1200/700.jpg");
    

    background-size: cover;
    background-position: center;
    position: relative;
 
}


h3{
    text-align: center;
    padding-top: 10px;
    color: white;
}

.form{
 
   
    background-color:rgba(0,0,0 ,0.7);
    width: 350px;
    margin: 20% auto;
    box-shadow: 5px 10px 15px 5px;
    height:350px


  
}
h6{
    color:grey;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    margin-left: 30px;
}
h3{
    color: white;
    font-family: sans-serif;
   
}
input{
    background-color:transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    outline: none;
    color: white;

}
img{
    width: 120px;
    height: 120px;
    padding-left: 35%;
    margin-top: -20%;
 

}
label{
    margin-left: 30px;
    color: white;
    margin-top: 10px;
    font-family: sans-serif;

}
button{
 
    width: 280px;
    padding: 10px;
    font-style: normal;
    border-radius: 15px;
    background-color: red;
    border: none;
    font-size: medium;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}